.check-container {
  overflow: hidden;
  height: 80vh;
  border: solid black .2rem;
  margin: 1rem 1rem 0rem 1rem;
  border-radius: 2rem;
  padding: 1rem;
}
.checkPartnerinfor {
  font-size: 1.5rem;
}
.checkContainer {
  font-size: 2.5rem;
  text-align: center;
}
.checkContent {
  margin: 3rem;
}
.button_kakinaoshi {
  height: 4rem;
  font-size: 2rem;
}
