.discussion-container {
  /*background: #42b983;*/
  border: solid black .2rem;
  height: 700px;
  overflow: hidden;
  margin: 5% 5% 0% 5%;
}
.discussion-title {
  height: 8rem;
  background: #ccc;
  text-align: center;
  line-height: 8rem;
  font-size: 2rem;
}
