.modal-container {
  /*visibility: hidden;*/
  display: none;
  border: solid black .2rem;
  width: 45rem;
  height: 20rem;
  position: fixed;
  top: 50%;
  margin-top: -10rem;
  left: 50%;
  margin-left: -20.5rem;
  background: #ccc;

}
.md-infor {
  font-size: 2rem;
  text-align: center;
  margin: 2.5% 0rem;
}
.md-show {
  /*visibility: visible;*/
  display: block;
}
.OK-btn {
  /*width: 5rem;*/
  text-align: center;
  font-size: 2rem;
}
