.container {
  overflow: hidden;
  width: 75%;
  /*background: #42b983;*/
}
.img {
  width: 100%;
  margin: 5% 0%;
}
.title {
  height: 8rem;
  background: #ccc;
  text-align: center;
  line-height: 8rem;
}
.infor {
  font-size: 2rem;
}
.stepNum {
  font-size: 2rem;
}
.next-step-btn {
  
}
.next-step-btn button{
  font-size: 2rem;
}
