.container-all {
  width: 95vw;
  /*height: 85vh;*/
  overflow: auto;
}
.container {
  overflow: hidden;
  height: 80%;
  border: solid black .2rem;
  margin: 1rem 1rem 0rem 1rem;
  border-radius: 2rem;
  padding: 1rem;
}
.btn-container {
  text-align: center;
}
.button1{
  height: 4rem;
  font-size: 2rem;
  margin-right: 10rem;
}
.button2{
  height: 4rem;
  font-size: 2rem;
  margin-right: 10rem;
}
.button3{
  height: 4rem;
  font-size: 2rem;
}

