.steps-container {
  width: 70%;
  text-align: center;
  /*background: #42b983;*/
  float: left;
  /*height: 55rem;*/
  /*overflow: hidden;*/
}
.img {
  width: 73%;
  /*height: 2%;*/
  margin: 3% 0%;
}
.title {
  height: 5rem;
  background: #ccc;
  text-align: center;
  line-height: 5rem;
}
.infor {
  font-size: 2rem;
}
.stepNum {
  font-size: 2rem;
}

