.steps-container {
  width: 70%;
  /*background: #42b983;*/
  float: left;
  height: 55rem;
  /*overflow: hidden;*/
}
.img {
  width: 100%;
  margin: 5% 0%;
}
.title {
  height: 8rem;
  background: #ccc;
  text-align: center;
  line-height: 8rem;
}
.infor {
  font-size: 2rem;
}
.stepNum {
  font-size: 2rem;
}

