.TA-table ,.TA-td, .TA-th{
  border:1px solid black;
}
.TA-table
{
  padding: 5rem;
  width:100%;
}
.TA-th
{
  font-size: 2rem;
  height:3.5rem;
}
.TA-td {
  font-size: 2rem;
}
.TA-title {
  font-size: 3rem;
  text-align: center;
}
.Detail-btn {
  text-align: center;
  font-size: 2rem;
}
