table,td,th
{
  border:1px solid black;
}
table
{
  padding: 5rem;
  width:100%;
}
th
{
  font-size: 2rem;
  height:3.5rem;
}
td{
  font-size: 2rem;
}
.TA-title {
  font-size: 3rem;
  text-align: center;
}
.Detail-btn {
  text-align: center;
  font-size: 2rem;
}
